.current-account-box {
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 10px 10px;
    border: 2px solid black;

}

.add-account-box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    border: 2px dashed black;
    margin: 20px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;

}

