.current-account-box {
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    margin-top: 20px;

}

.add-account-box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;

}

